/XAMPP for Windows - mysql  -u root prak basdat.txt
/XAMPP for Windows - mysql  -u root procedure 2.txt
/XAMPP for Windows - mysql  -u root procedure 23-12-2024.txt
/XAMPP for Windows - mysql  -u root triggers 161224.txt
/XAMPP for Windows - mysql  -u root.txt